<% include partials/header %>
<% include partials/navbar %>

  <section class="about-us">
    <div class="about">
      <img src="/images/developer_pic.png" class="pic" />
      <div class="text">
        <h3> Gautam M </h3>
        <h5> Developer & <span>Designer</span></h5>
        <p> I hope you enjoy using this Expense Tracker app! It's a simple, web-based application developed as a fun hobby project in JavaScript. If you have any feedback or would like to contribute, I'd love to hear from you. Feel free to reach out at <b>spedingtracker@gmail.com</b> Thank you!</p>   
      </div>
    </div>
  </section>

<% include partials/footer %>